name: Push Frontend Tickitz APP to GHCR and Deploy to VPS
run-name: Release and Deploy Images
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code
        uses: actions/checkout@v4 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}/fgo24-fe-tickitz:latest
          file: Dockerfile
          build-args: |
            VITE_TMDB_API_KEY=${{ secrets.VITE_TMDB_API_KEY }}
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          username: ${{ secrets.REMOTE_USER }}
          host: ${{ secrets.REMOTE_HOST }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker pull ghcr.io/${{ github.repository }}:latest
            cd ~
            cd fgo24-fe-tickitz
            docker-compose up -d
            docker image prune -f